body{
    background-image: url("./images/greenfelt.jpg");
}

.text {
    text-align: center;
    font-family: "Corinthia", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 500%;
}

.card {
    display: inline-block;
   margin-left: 17%;
}

.font {
    margin-top: 100px;
    text-align: center;
    font-family: "Corinthia", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 500%;
}

p {
    text-align: center;
    font-family: "Corinthia", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 500%;
}